---
name: Java CI with Maven
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java:
          - "17"
    steps:
      - name: Step 1 - Checkout the main branch from Github
        uses: actions/checkout@v3
      - name: Step 2 - Set up JDK ${{matrix.java}}
        uses: actions/setup-java@v2
        with:
          java-version: ${{matrix.java}}
          distribution: adopt
          cache: maven
      - name: Step 3 - Build with Maven Wrapper
        run: ./mvnw -B package --pom.xml
      - name: Step 4 - List the currect directory
        run: ls -a
      - name: Step 5 - cd to target folder and list
        run: |
          cd target
          ls -a
